body {
  margin: 0;
  padding: 0;
  background-color: #e3e1d8;
  font-family: "Open Sans", sans-serif;
  color: #122036;
}

.container {
  max-width: 100%;
  padding: 1rem;
  margin: 5rem auto;
  display: grid;
  border-radius: 5px;
  background-color: #fff;

  @media screen and (min-width: 900px) {
    max-width: 800px;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }
}

.form-footer {
  margin-top: 5rem;
}
